.puzzleBox {
  width: 90vmin;
  height: 90vmin;
  margin: 3vmin auto;
  border: 2vmin solid white;
}

.puzzlePiece {
  background-size: 90vmin;
  box-sizing: border-box;
  border: 0.5vmin solid #00000044;
  position: fixed;
  /* transition: transform 1s; */
}

.winMessage {
  position: fixed;
  color: white;
  top: 0;
  margin-top: 0;
  width: 100vw;
  text-align: center;
  text-shadow: 2px 2px black, -2px 2px black, 2px -2px black, -2px -2px black;
  font-size: 25vw;
  animation: celebrate 1s cubic-bezier(0.075, 0.82, 0.165, 1) both;
}

@keyframes celebrate {
  from {
    transform: scale(0);
    transform-origin: 0 0;
  }
  49% {
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1);
  }
  51% {
    transform-origin: 100% 0;
  }
  to {
    transform: scale(0);
    transform-origin: 100% 0;
  }
}
