.playerDisplayBox {
  width: 40vmin;
  height: 40vmin;
  margin: 2vmin 2vmin 5vmin 2vmin;
  border: 1px solid #aaa;
  border-radius: 4vmin;
  background-color: #00000022;
  text-align: center;
  position: relative;
}
.playerDisplayBox > h2 {
  margin-top: 0;
}

.mainPlayerDisplayBox {
  font-weight: bolder;
}

.currentPlayerDisplayBox {
  background-color: #ffffff22;
}

.playerScore {
  position: absolute;
  top: 0vmin;
  right: 4vmin;
}

.playerRole {
  position: absolute;
  top: 1vmin;
  left: 3vmin;
  width: 8vmin;
}

.allGorillas {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid white;
  padding: 1em;
  margin: 1em;
  border-radius: 2em;
  background-color: #00000022;
  text-align: center;
  align-items: center;
}

.buttonContainer > h2 {
  width: 100%;
  border-bottom: 1px solid #ffffff44;
  padding-bottom: 0.5em;
}

.lobbyButton {
  margin: 1em;
  border: 1px solid #aaa;
  background-color: #00000022;
  text-align: center;
  border-radius: 50%;
  user-select: none;
  align-items: center;
}

.lobbyButton.large {
  width: 9em;
  height: 9em;
  line-height: 9em;
}

.lobbyButton.small {
  width: 3em;
  height: 3em;
  line-height: 3em;
}

.lobbyButton:hover,
.joinRoomButton:hover,
.clickable:hover,
.startButton:hover {
  background-color: #ffffff22;
}
.lobbyButton:active,
.joinRoomButton:active,
.clickable:active,
.startButton:active {
  background-color: #ffffff88;
}

.lobbyButton.add:hover {
  background-image: url("http://cdn.onlinewebfonts.com/svg/img_84809.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 50% 90%;
}
.lobbyButton.remove:hover {
  background-image: url("http://cdn.onlinewebfonts.com/svg/img_110190.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 50% 10%;
}

.boxBox {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.boxBox > .buttonContainer {
  flex-grow: 4;
}

.nameDisplay {
  border: 1px solid white;
  padding: 1em;
  border-radius: 2em;
  margin: 0em 1em;
}

.startButton {
  width: 30%;
  margin: 2em auto;
  text-align: center;
  background-color: #00000022;
  padding: 1em;
  border: 1px solid white;
  border-radius: 2em;
  font-size: 2em;
}

.joinRoomButton {
  background-color: #00000022;
  padding: 1em;
  border: 1px solid white;
  border-radius: 2em;
  margin: 1em;
}

.loginContainer {
  max-width: 30em;
  border: 1px solid white;
  margin: auto;
  padding: 1em;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.loginContainer input {
  background-color: #00000022;
  border: 1px solid white;
  color: white;
  font-size: 1em;
  padding: 0.5em;
  font-family: inherit;
  border-radius: 0.5em;
  max-width: 80%;
}

.loginContainer > div {
  font-size: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginContainer > button {
  font-size: 1em;
  color: white;
  font-family: inherit;
}

.gameDescriptionBox {
  text-align: center;
  padding: 2em;
  max-width: 40em;
  margin: auto;
}

.gameDescriptionBox h3 {
  color: #aaa;
}

.gameHeaderMessage {
  border-bottom: 1px solid white;
  padding: 1em;
  text-align: center;
}

/* Mobile Devices */
@media only screen and (max-width: 768px) {
  .lobbyButton {
    font-size: 0.75em;
  }
}
