.paper {
  padding: 1em;
  text-align: center;
}

.paper div.paragraph {
  max-width: 700px;
  text-align: justify;
  margin: 1em auto;
  line-height: 1.5em;
}

.paper a {
  color: white;
}

.paper a:visited {
  color: lightgray;
}

.paper .citation {
  max-width: 600px;
  margin: 0.5rem auto;
  text-align: left;
  font-size: small;
}
