body {
  position: fixed;
  font-family: "Manrope";
}

.fullWindow {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;

  transition: top 0.5s;
}

.subpage {
  top: -100vh;
}

.sky {
  height: 90vh;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: -5vh;

  background-color: skyblue;
  background-image: linear-gradient(to top, green 4%, skyblue 5%);
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.sky::-webkit-scrollbar {
  display: none;
}

.ground {
  height: 110vh;
  padding-top: 11vh;
  background-image: linear-gradient(to bottom, green, #948268 10%);
}

.rollingPicture {
  position: sticky;
  width: 20vmin;
  min-width: 130px;
  border-radius: 50%;
  border: 1px solid black;
  z-index: 300;
}

.cloud {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cloud > svg {
  position: absolute;
}

.cloud > div {
  z-index: 1;
}
