.paper {
  padding: 1em;
  text-align: center;
}

.paper > h3 {
  color: #aaa;
}

.paper div.paragraph {
  max-width: 700px;
  text-align: justify;
  margin: 1em auto;
  line-height: 1.5em;
}

.paper div.paragraph select {
  background-color: inherit;
  font-family: inherit;
  color: inherit;
  border: 1px solid white;
  border-radius: 0.2em;
  font-size: inherit;
}
.paper div.paragraph select option {
  background-color: #242424;
}

.paper div.aside {
  max-width: 550px;
  text-align: justify;
  margin: 1em auto;
  font-size: small;
  color: lightgray;
  font-family: "Courier New", Courier, monospace;
}

.paper .code {
  color: lightgray;
  font-family: 'Courier New', Courier, monospace;
}

.paper a {
  color: inherit;
}

.paper a:visited {
  color: lightgray;
}

.paper .citation {
  max-width: 600px;
  overflow-wrap: break-word;
  margin: 0.5rem auto;
  text-align: left;
  font-size: small;
}

.paper .sectionBreak {
  border-top: 0.25rem solid #ffffff14;
  border-radius: 1rem;
  margin: 2rem auto;
  width: 100px;
}

.paper em {
  color: #ffa;
  font-style: normal;
}

.draggableNumber {
  border: 1px solid white;
  border-radius: 0.2em;
  padding: 0.1em 0.3em;
  scroll-behavior: auto;
  text-align: center;
  display: inline-block;
}

.draggableNumber:focus {
  border-width: 3px;
  padding: calc(0.1em - 2px) calc(0.3em - 2px);
}

.pseudocode {
  font-family: monospace;
  list-style-type: none;
}
.pseudocode ul {
  list-style-type: none;
}