.keyboard {
  display: flex;
  flex-direction: column;
  gap: 1vmin;
  width: 100vw;
  position: fixed;
  bottom: 1vmin;
  align-items: stretch;
}

.keyboardRow {
  display: flex;
  gap: 1vmin;
  justify-content: center;
}

.key {
  width: 8.5vmin;
  height: 12vmin;
  line-height: 11vmin;
  border-radius: 1vmin;
  border: none;
  color: white;
  background-color: #353535;
  font-family: inherit;
  font-size: 3vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.5s ease;
  user-select: none;
}

.key:active {
  background-color: #666;
  transition: background-color 0.05s;
}

.key.miss {
  background-color: #888;
}
.key.cow {
  background-color: #a80;
}
.key.bull {
  background-color: #080;
}

.key.special {
  width: 13vmin;
}