.letter {
  width: min(8vw, 4rem);
  height: min(8vw, 4rem);
  font-size: min(6vw, 3em);
  line-height: min(8vw, 4rem);
  text-align: center;
  box-sizing: border-box;
}

.multiBoard .letter {
  width: min(7vw, 3.5rem);
  height: min(7vw, 3.5rem);
  font-size: min(5vw, 2.5em);
  line-height: min(7vw, 3.5rem);
}

.letter.empty {
  border: min(0.4vw, 0.2rem) solid #888;
}

.letter.typing {
  border: min(0.4vw, 0.2rem) solid #ccc;
  animation: justTyped 0.15s linear;
}

.letter.guessed {
  animation: reveal 0.4s backwards;
  transition: background-color 0.2s;
}

.word {
  display: flex;
  gap: min(1vw, 0.5rem);
}

.word.guessedWrong {
  animation: shake 0.3s;
}

.wordBox {
  display: flex;
  flex-direction: column;
  gap: min(1vw, 0.5rem);
  margin: 5vh auto;
  width: fit-content;
}

.multiBoard {
  display:flex;
}

@keyframes justTyped {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes reveal {
  from {
    transform: rotateX(360deg);
    border: min(0.4vw, 0.2rem) solid #ccc;
  }
  to {
    border: none;
    transform: none;
  }
}

@keyframes shake {
  25% {
    transform: translateX(1rem);
  }
  50% {
    transform: translate(-1rem);
  }
  75% {
    transform: translateX(1rem);
  }
}

.popup {
  position: fixed;
  width: 80vmin;
  height: 70vh;
  left: 50%;
  top: 50%;
  margin-left: -45vmin;
  margin-top: -40vh;
  background-color: #444;
  box-shadow: #ccc 0 0 10vmin;
  border-radius: 5vmin;
  padding: 5vh 5vmin;
  text-align: center;
}

.popup button {
  border: 0.5vmin solid white;
  border-radius: 5vmin;
  font-family: inherit;
  color: white;
  background-color: #888;
  font-size: 5vmin;
  width: 30vmin;
  margin-top: 5vh;
}

.popup pre {
  font-size: 3vmin;
  font-family: inherit;
  text-align: left;
  width: fit-content;
  margin: auto;
}

.popup em {
  color: lightblue;
  font-style: inherit;
}