.puzzle {
  border: solid #fff3;
  background-color: #fff2;
  margin: 1rem auto;
  transition: all 0.1s, background-color 0.5s;
  position: relative;
}

.solved {
  background-color: #4f43;
}

.puzzle > button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid white;
  box-sizing: border-box;
  background-color: #fff2;
  color: inherit;
  font-family: inherit;
  transition: inherit;
  user-select: none;
}

.puzzle > button > div {
  position: absolute;
  font-size: 0.4em;
  left: 8%;
  top: 6%;
}

.actionButton {
  font-family: inherit;
  color: inherit;
  box-shadow: inset white 0 0 0.5em;
  border: 1px solid white;
  font-size: larger;
  padding: 1em 2em;
  background-color: #fff2;
  border-radius: 1em;
  transition: all 0.2s;
  margin: 0.5rem;
}

.actionButton:hover {
  box-shadow: inset white 0 0 1em;
}

.actionButton:active {
  transition: all 0.05s;
  box-shadow: inset white 0 0 2em;
}

.puzzleGraph {
  width: 90%;
  max-width: 55rem;
  height: 50vh;
  box-shadow:  white 0 0 1rem, inset white 0 0 1rem;
  border-radius: 3rem;
  margin: 4vh auto;
  overflow: clip;
}

.puzzleGraph .puzzle {
  margin: 0;
}