
.question {
  text-align: center;
  margin: 10rem 1rem;
}

.question input {
  width: min(20rem, 90%);
  padding: 1rem;
  background-color: inherit;
  font-family: inherit;
  color: inherit;
  border-radius: 1rem;
  font-size: 2rem;
  text-align: center;
  border: 2px solid white;
}
